@{
    ViewData["Title"] = "Home Page";
}

<div class="hero">
    <div class="hero__content">
        <div class="snippets">
            <span>VENTA TECNOLOGICA </span>
        </div>
        <div class="title">
            <span>
                Conoce Nuestro  <span class="summer">Nuevos</span> Productos
            </span>
        </div>
        <div class="description">
            <span>
                Bienvenido a la tienda de FoxCore en donde encotraras mucha
                variedad de articulos desde laptop, usb, audifonos hasta
                Componentes para tu pc de escritorio
            </span>
        </div>
        <div class="social-media">
            <a href="#">
                <img src="~/Img/facebook.png" alt="Facebook" />
            </a>
            <a href="#">
                <img src="~/Img/twitter.png" alt="Twitter" />
            </a>
            <a href="#">
                <img src="~/Img/instagram.png" alt="Instagram" />
            </a>
        </div>
    </div>
    <div class="hero__image">
        <img src="~/Img/pngtree-fox-logo-png-image_6512197.png" alt="Starbucks drinks" />
    </div>

</div>
