@{
    ViewData["Title"] = "Tienda";
}

<header>
    <h1>Tienda Fox</h1>
</header>
<section class="contenedor">
    <!-- Contenedor de elementos -->
    <div class="contenedor-items">
        <div class="item">
            <span class="titulo-item">HyperX Cloud II</span>
            <img src="~/img/61JJl260NlL._AC_SL1412_.jpg" alt="" class="img-item">
            <span class="precio-item">$150.00</span>
            <a class="boton-item" asp-action="Views">Comprar</a>
        </div>
        <div class="item">
            <span class="titulo-item">SteelSeries Arctis Nova 3</span>
            <img src="~/img/arctis_nova_3_black_pdp_img_buy_06.png__1850x800_crop-scale_optimize_subsampling-2.webp" alt="" class="img-item">
            <span class="precio-item">$550.00</span>
            <a class="boton-item" asp-action="Views">Comprar</a>
        </div>
        <div class="item">
            <span class="titulo-item">Nintendo Switch with Gray Joy Con</span>
            <img src="~/img/351738-PhotoRoom_1.webp" alt="" class="img-item">
            <span class="precio-item">$5250.00</span>
            <a class="boton-item" asp-action="Views">Comprar</a>
        </div>
        <div class="item">
            <span class="titulo-item" id="produc">Xbox Series S</span>
            <img src="~/img/descarga.jpeg" alt="" class="img-item">
            <span class="precio-item" id="preci">$900.00</span>
            <a class="boton-item" asp-action="Views">Comprar</a>
        </div>
        <div class="item">
            <span class="titulo-item">Tarjeta gráfica GeForce RTX 3060</span>
            <img src="~/img/descarga (1).jpeg" alt="" class="img-item">
            <span class="precio-item">$550.00</span>
            <a class="boton-item" asp-action="Views">Comprar</a>
        </div>
        <div class="item">
            <span class="titulo-item">GeForce RTX™ 3050 ELITE 8G</span>
            <img src="~/img/Png.png" alt="" class="img-item">
            <span class="precio-item">$25.00</span>
            <a class="boton-item" asp-action="Views">Comprar</a>
        </div>
        <div class="item">
            <span class="titulo-item">VENGEANCE LPX DDR4 RAM 32 GB (2 x 16 GB)</span>
            <img src="~/img/518T3hrUY4L.__AC_SX300_SY300_QL70_FMwebp_.webp" alt="" class="img-item">
            <span class="precio-item">$25.00</span>
            <a class="boton-item" asp-action="Views">Comprar</a>
        </div>
        <div class="item">
            <span class="titulo-item">duro externo portátil Seagate de 4 TB con puerto USB 3.0</span>
            <img src="~/img/71iIr9koTGL._AC_SL1500_.jpg" alt="" class="img-item">
            <span class="precio-item">$25.00</span>
            <a class="boton-item" asp-action="Views">Comprar</a>
        </div>
    </div>

</section>
