<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoxRedCompany</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FoxRedCompany.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Inicio.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Menu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Tienda.css" asp-append-version="true" />
    <link rel="icon" href="~/Img/Imagen_de_WhatsApp_2023-09-17_a_las_11.41.30-removebg-preview.png" asp-append-version="true"/>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-action="Index">
                    <img src="~/Img/Imagen_de_WhatsApp_2023-09-17_a_las_11.41.30-removebg-preview.png" width="150" height="100"/>
                    FoxCore
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="container">

                    <nav class="menu">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        <a asp-area="" asp-controller="Home" asp-action="Tienda">Tienda</a>
                        <a asp-area="" asp-controller="Home" asp-action="Acerca">Acerca de</a>

                    </nav>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - FoxRedCompany - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
